#container{
    border: 5px solid #FFFF00;
    text-align: center;
    width: 50%;
    padding: 10px;
}


.crossedToDO {
    text-decoration: line-through;
    text-decoration-color: #ff3700 ;
    
}

#addBtn{
background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.delbtn{
    padding: 0.5rem;
    background: #ff3700;
    color: white;
    border-radius: 6px;
    margin-left: 2rem;
    cursor: pointer;
    font-size: 1rem;
}

#todo-list{

    font-size: 2rem;
}